#

In [ ]:
!pip install xlwt
!pip install openpyxl
!pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlwt in /usr/local/lib/python3.7/dist-packages (1.3.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [ ]:
import pandas as pd
import numpy as np
import re
import openpyxl

In [ ]:
#드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

# from google.colab import files
# file_upload = files.upload()

Mounted at /content/drive

In [ ]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
filename_BS15= '/content/drive/MyDrive/data/2015_totalBS.xls'
filename_BS16= '/content/drive/MyDrive/data/2016_totalBS.xls'
filename_BS17= '/content/drive/MyDrive/data/2017_totalBS.xls'
filename_BS18= '/content/drive/MyDrive/data/2018_totalBS.xls'
filename_BS19= '/content/drive/MyDrive/data/2019_totalBS.xls'
filename_BS20= '/content/drive/MyDrive/data/2020_totalBS.xls'
filename_BS21= '/content/drive/MyDrive/data/2021_totalBS.xls'

filename_CF15= '/content/drive/MyDrive/data/2015_totalCF.xls'
filename_CF16= '/content/drive/MyDrive/data/2016_totalCF.xls'
filename_CF17= '/content/drive/MyDrive/data/2017_totalCF.xls'
filename_CF18= '/content/drive/MyDrive/data/2018_totalCF.xls'
filename_CF19= '/content/drive/MyDrive/data/2019_totalCF.xls'
filename_CF20= '/content/drive/MyDrive/data/2020_totalCF.xls'
filename_CF21= '/content/drive/MyDrive/data/2021_totalCF.xls'


filename_bs16= '/content/drive/MyDrive/data/BaS_2016.xlsx'

filename_bs17= '/content/drive/MyDrive/data/BaS_2017.xlsx'
filename_bs18= '/content/drive/MyDrive/data/BaS_2018.xlsx'
filename_bs19= '/content/drive/MyDrive/data/BaS_2019.xlsx'
filename_bs20= '/content/drive/MyDrive/data/BaS_2020.xlsx'
filename_bs21= '/content/drive/MyDrive/data/BaS_2021.xlsx'
filename_bs22= '/content/drive/MyDrive/data/BaS_2022.xlsx'

In [ ]:
bs15 = pd.read_excel(filename_BS15)
bs16 = pd.read_excel(filename_BS16)
bs17 = pd.read_excel(filename_BS17)
bs18 = pd.read_excel(filename_BS18)
bs19 = pd.read_excel(filename_BS19)
bs20 = pd.read_excel(filename_BS20)
bs21 = pd.read_excel(filename_BS21)

cf15 = pd.read_excel(filename_CF15)
cf16 = pd.read_excel(filename_CF16)
cf17 = pd.read_excel(filename_CF17)
cf18 = pd.read_excel(filename_CF18)
cf19 = pd.read_excel(filename_CF19)
cf20 = pd.read_excel(filename_CF20)
cf21 = pd.read_excel(filename_CF21)

d16 = pd.read_excel(filename_bs16, dtype={x : 'str' for x in ["종목코드"]})
d17 = pd.read_excel(filename_bs17, dtype={x : 'str' for x in ["종목코드"]})
d18 = pd.read_excel(filename_bs18, dtype={x : 'str' for x in ["종목코드"]})
d19 = pd.read_excel(filename_bs19, dtype={x : 'str' for x in ["종목코드"]})
d20 = pd.read_excel(filename_bs20, dtype={x : 'str' for x in ["종목코드"]})
d21 = pd.read_excel(filename_bs21, dtype={x : 'str' for x in ["종목코드"]})
d22 = pd.read_excel(filename_bs22, dtype={x : 'str' for x in ["종목코드"]})

In [ ]:
ll = [bs15, bs16, bs17, bs18, bs19, bs20, bs21, d16, d17, d18, d19, d20, d21, d22]
#bs15, bs16, bs17, bs18, bs19, bs20, bs21, cf15, cf16, cf17, cf18, cf19, cf20, cf21, 

for i in ll :

  i.drop('Unnamed: 0', axis= 1, inplace= True)

In [ ]:
l2 = [bs15, bs16, bs17, bs18, bs19, bs20, bs21, cf15, cf16, cf17, cf18, cf19, cf20, cf21]

for i in l2 : 
  for j in range(len(i)):
    i['종목코드'][j] = i['종목코드'][j][1:-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
# 시총 200위만 포함
D16 = d16.head(200)
D17 = d17.head(200)
D18 = d18.head(200)
D19 = d19.head(200)
D20 = d20.head(200)
D21 = d21.head(200)
D22 = d22.head(200)

In [ ]:
d16

,종목코드,날짜,종가,PBR,PBR 순위,시가총액,시가총액 순위,buy,sell
0,005930,2016-03-31,26240,1.38,461,190330970144000,1,25580,41200.0
1,015760,2016-03-31,60200,0.72,228,38646237435400,2,59100,46450.0
2,005380,2016-03-31,152500,0.76,242,33592163047500,3,149500,157500.0
3,028260,2016-03-31,143000,3.65,662,27125676149000,4,140000,127500.0
4,012330,2016-03-31,249000,1.05,361,24238621887000,5,239000,240500.0
...,...,...,...,...,...,...,...,...,...
722,002420,2016-03-31,10070,0.80,258,21439339200,723,9668,13995.0
723,001140,2016-03-31,1546,0.85,278,19159219600,724,1513,1667.0
724,007630,2016-03-31,1500,1.43,474,17680797000,725,1815,3505.0
725,001470,2016-03-31,9050,0.03,1,15932863470,726,9050,1176.0
726,007280,2016-03-31,2050,0.17,3,15200000000,727,2050,1780.0

In [ ]:
#전체 시총 데이터 -- 소문자 d

bsL = [bs15, bs16, bs17, bs18, bs19, bs20, bs21]
cfL = [cf15, cf16, cf17, cf18, cf19, cf20, cf21]  
dL = [d16, d17, d18, d19, d20, d21, d22]

df_= pd.merge(bsL[0],cfL[0],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[0], on='종목코드')
df15 = df__  

df_= pd.merge(bsL[1],cfL[1],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[1], on='종목코드')
df16 = df__  


df_= pd.merge(bsL[2],cfL[2],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[2], on='종목코드')
df17 = df__  


df_= pd.merge(bsL[3],cfL[3],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[3], on='종목코드')
df18 = df__  

df_= pd.merge(bsL[4],cfL[4],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[4], on='종목코드')
df19 = df__  


df_= pd.merge(bsL[5],cfL[5],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[5], on='종목코드')
df20 = df__  


df_= pd.merge(bsL[6],cfL[6],on=['종목코드','회사명'])
df__ = pd.merge(df_, dL[6], on='종목코드')
df21 = df__

In [ ]:
# 시총 200위 데이터 -- 대문자 D

bsL = [bs15, bs16, bs17, bs18, bs19, bs20, bs21]
cfL = [cf15, cf16, cf17, cf18, cf19, cf20, cf21]  
DL = [D16, D17, D18, D19, D20, D21, D22]

DF_= pd.merge(bsL[0],cfL[0],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[0], on='종목코드')
DF15 = DF__  

DF_= pd.merge(bsL[1],cfL[1],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[1], on='종목코드')
DF16 = DF__  


DF_= pd.merge(bsL[2],cfL[2],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[2], on='종목코드')
DF17 = DF__  


DF_= pd.merge(bsL[3],cfL[3],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[3], on='종목코드')
DF18 = DF__  

DF_= pd.merge(bsL[4],cfL[4],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[4], on='종목코드')
DF19 = DF__  


DF_= pd.merge(bsL[5],cfL[5],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[5], on='종목코드')
DF20 = DF__  


DF_= pd.merge(bsL[6],cfL[6],on=['종목코드','회사명'])
DF__ = pd.merge(DF_, DL[6], on='종목코드')
DF21 = DF__

In [ ]:
# top 순위 추출하는 함수 function top(데이터)
df = [df15, df16, df17, df18, df19, df20, df21, DF15, DF16, DF17, DF18, DF19, DF20, DF21]

def top(ex_data) :
  ex_data.drop(['자본총계','부채총계','유동자산','유동부채','부채비율','유동비율','영업활동현금흐름','종가','PBR','시가총액'], axis =1, inplace = True)
  
  col = ex_data.columns.to_numpy()
  col = col[[5,0,1,2,3,4,6,9,7,8]]
  ex_data = ex_data[col]

  ex_data['순위합'] = ex_data['부채비율순위'] + ex_data['유동비율순위'] + ex_data['영업활동현금흐름_순위'] + ex_data['PBR 순위'] + ex_data['시가총액 순위'] 

  ex_data['순위합rank'] = ex_data.순위합.rank(method='average', ascending=True)
  ex_data['순위합rank'] = ex_data['순위합rank'].astype('int')

  ex_data = ex_data.sort_values('순위합rank')

  ex_data['수익률'] = (ex_data['sell'] - ex_data['buy'])/ex_data['buy'] *100

  ex_data20 = ex_data.head(20)

  return ex_data20

In [ ]:
#시가총액 순위 완전히 뺀 경우

# def top_cap(ex_data) :
#   ex_data.drop(['자본총계','부채총계','유동자산','유동부채','부채비율','유동비율','영업활동현금흐름','종가','PBR','시가총액'], axis =1, inplace = True)
  
#   col = ex_data.columns.to_numpy()
#   col = col[[5,0,1,2,3,4,6,9,7,8]]
#   ex_data = ex_data[col]

#   ex_data['순위합'] = ex_data['부채비율순위'] + ex_data['유동비율순위'] + ex_data['영업활동현금흐름_순위'] + ex_data['PBR 순위'] 

#   ex_data['순위합rank'] = ex_data.순위합.rank(method='average', ascending=True)
#   ex_data['순위합rank'] = ex_data['순위합rank'].astype('int')

#   ex_data = ex_data.sort_values('순위합rank')

#   ex_data['수익률'] = (ex_data['sell'] - ex_data['buy'])/ex_data['buy'] *100

#   ex_data20 = ex_data.head(20)

#   return ex_data, ex_data20

In [ ]:
top16_17 = top(df15)
top17_18 = top(df16)
top18_19 = top(df17)
top19_20 = top(df18)
top20_21 = top(df19)
top21_22 = top(df20)
top22_23 = top(df21)

TOP16_17 = top(DF15)
TOP17_18 = top(DF16)
TOP18_19 = top(DF17)
TOP19_20 = top(DF18)
TOP20_21 = top(DF19)
TOP21_22 = top(DF20)
TOP22_23 = top(DF21)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
# 두 데이터프레임 평균 수익률 비교 

print('16~17년도 시총 200위 수익률 : ',round(TOP16_17['수익률'].mean(), 4) , '   | 16~17년도 전체 시총 수익률 : ', round(top16_17['수익률'].mean(), 4)  )
print('17~18년도 시총 200위 수익률 : ',round(TOP17_18['수익률'].mean(), 4) , '  | 17~18년도 전체 시총 수익률 : ', round(top17_18['수익률'].mean(), 4)  )
print('18~19년도 시총 200위 수익률 : ',round(TOP18_19['수익률'].mean(), 4) , ' | 18~19년도 전체 시총 수익률 : ', round(top18_19['수익률'].mean(), 4)  )
print('19~20년도 시총 200위 수익률 : ',round(TOP19_20['수익률'].mean(), 4) , ' | 19~20년도 전체 시총 수익률 : ', round(top19_20['수익률'].mean(), 4)  )
print('20~21년도 시총 200위 수익률 : ',round(TOP20_21['수익률'].mean(), 4) , '  | 20~21년도 전체 시총 수익률 : ', round(top20_21['수익률'].mean(), 4)  )
print('21~22년도 시총 200위 수익률 : ',round(TOP21_22['수익률'].mean(), 4) , ' | 21~22년도 전체 시총 수익률 : ', round(top21_22['수익률'].mean(), 4)  )
print('22~23년도 시총 200위 수익률 : ',round(TOP22_23['수익률'].mean(), 4) , '      | 22~23년도 전체 시총 수익률 : ', round(top22_23['수익률'].mean(), 4)  )

16~17년도 시총 200위 수익률 :  9.8498    | 16~17년도 전체 시총 수익률 :  7.967
17~18년도 시총 200위 수익률 :  11.7637   | 17~18년도 전체 시총 수익률 :  6.6884
18~19년도 시총 200위 수익률 :  -12.4701  | 18~19년도 전체 시총 수익률 :  -7.5418
19~20년도 시총 200위 수익률 :  -37.5679  | 19~20년도 전체 시총 수익률 :  -40.0716
20~21년도 시총 200위 수익률 :  86.2899   | 20~21년도 전체 시총 수익률 :  92.6835
21~22년도 시총 200위 수익률 :  -10.1462  | 21~22년도 전체 시총 수익률 :  -4.7441
22~23년도 시총 200위 수익률 :  nan       | 22~23년도 전체 시총 수익률 :  nan

In [ ]:
# total15.to_excel(excel_writer = 'total_15.xlsx') 
# top15.to_excel(excel_writer = "top_15.xlsx") 
# total16.to_excel(excel_writer = 'total_16.xlsx') 
# top16.to_excel(excel_writer = "top_16.xlsx") 
# total17.to_excel(excel_writer = 'total_17.xlsx') 
# top17.to_excel(excel_writer = "top_17.xlsx") 
# total18.to_excel(excel_writer = 'total_18.xlsx') 
# top18.to_excel(excel_writer = "top_18.xlsx") 
# total19.to_excel(excel_writer = 'total_19.xlsx') 
# top19.to_excel(excel_writer = "top_19.xlsx") 
# total20.to_excel(excel_writer = 'total_20.xlsx') 
# top20.to_excel(excel_writer = "top_20.xlsx") 
# total21.to_excel(excel_writer = 'total_21.xlsx') 
# top21.to_excel(excel_writer = "top_21.xlsx")

## 종목리스트 추출

In [ ]:
name1617 = TOP16_17[['종목코드','회사명']]
name1718 = TOP17_18[['종목코드','회사명']]
name1819 = TOP18_19[['종목코드','회사명']]
name1920 = TOP19_20[['종목코드','회사명']]
name2021 = TOP20_21[['종목코드','회사명']]
name2122 = TOP21_22[['종목코드','회사명']]
name2223 = TOP22_23[['종목코드','회사명']]

In [ ]:
# name1617.to_excel(excel_writer = 'name1617.xlsx')
# name1718.to_excel(excel_writer = 'name1718.xlsx')
# name1819.to_excel(excel_writer = 'name1819.xlsx')
# name1920.to_excel(excel_writer = 'name1920.xlsx')
# name2021.to_excel(excel_writer = 'name2021.xlsx')
# name2122.to_excel(excel_writer = 'name2122.xlsx')
# name2223.to_excel(excel_writer = 'name2223.xlsx')

# MDD , 샤프지수 구하기

In [ ]:
!pip install yfinance
!pip install pandas_datareader
!pip install pykrx

In [ ]:
from pandas_datareader import data as pdr
from pykrx import stock

In [ ]:
import pandas as pd
import numpy as np
import yfinance as yf

In [ ]:
pf1 =  ['005930.KS','000660.KS','035420.KS']

In [ ]:
yf.Ticker('005930.KS').history(start='2016-04-01', end='2022-03-31')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-04-01 00:00:00+09:00,21786.947702,21954.668624,21317.329122,21451.505859,13557800,0.0,0.0
2016-04-04 00:00:00+09:00,21451.501857,21887.576172,21451.501857,21887.576172,9402300,0.0,0.0
2016-04-05 00:00:00+09:00,21786.943499,21786.943499,21132.832031,21132.832031,11815950,0.0,0.0
2016-04-06 00:00:00+09:00,21283.783265,21652.769264,21267.011175,21552.136719,9211700,0.0,0.0
2016-04-07 00:00:00+09:00,21803.720018,21803.720018,21099.292141,21283.785156,12939750,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-24 00:00:00+09:00,68351.618553,69039.062992,68351.618553,68548.031250,37943357,0.0,0.0
2022-03-25 00:00:00+09:00,68842.650295,68940.856644,68351.618553,68548.031250,12986010,0.0,0.0
2022-03-28 00:00:00+09:00,68253.407629,68646.232996,67958.788603,68449.820312,12619289,0.0,0.0
2022-03-29 00:00:00+09:00,68744.446670,69039.065727,68548.033965,68940.859375,13686208,0.0,0.0
2022-03-30 00:00:00+09:00,69395.934080,69593.362057,68902.364136,69001.078125,12670187,361.0,0.0

In [ ]:
yf.Ticker('^KS11').history(start='2016-04-01', end='2022-03-31')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-04-01 00:00:00+09:00,1994.770020,1994.770020,1970.170044,1973.569946,392300,0,0
2016-04-04 00:00:00+09:00,1974.729980,1979.030029,1969.349976,1978.969971,363300,0,0
2016-04-05 00:00:00+09:00,1972.380005,1973.170044,1959.260010,1962.739990,368200,0,0
2016-04-06 00:00:00+09:00,1963.170044,1975.089966,1961.510010,1971.319946,358000,0,0
2016-04-07 00:00:00+09:00,1978.750000,1980.430054,1964.989990,1973.890015,434100,0,0
...,...,...,...,...,...,...,...
2022-03-24 00:00:00+09:00,2716.250000,2729.659912,2705.139893,2729.659912,959600,0,0
2022-03-25 00:00:00+09:00,2740.830078,2740.949951,2722.360107,2729.979980,599800,0,0
2022-03-28 00:00:00+09:00,2721.219971,2737.459961,2707.739990,2729.560059,768000,0,0
2022-03-29 00:00:00+09:00,2745.620117,2754.179932,2733.219971,2741.070068,726700,0,0
2022-03-30 00:00:00+09:00,2758.310059,2760.600098,2740.020020,2746.739990,837800,0,0

In [ ]:
df_1 = yf.Ticker('^KS11').history(start='2016-04-01', end='2017-03-31')
df_2 = yf.Ticker('^KS11').history(start='2017-04-01', end='2018-03-31')
df_3 = yf.Ticker('^KS11').history(start='2018-04-01', end='2019-03-31')
df_4 = yf.Ticker('^KS11').history(start='2019-04-01', end='2020-03-31')
df_5 = yf.Ticker('^KS11').history(start='2020-04-01', end='2021-03-31')
df_6 = yf.Ticker('^KS11').history(start='2021-04-01', end='2022-03-31')

In [ ]:
df_1.drop(['Dividends','Stock Splits','Volume'], axis =1, inplace = True)
df_2.drop(['Dividends','Stock Splits','Volume'], axis =1, inplace = True)
df_3.drop(['Dividends','Stock Splits','Volume'], axis =1, inplace = True)
df_4.drop(['Dividends','Stock Splits','Volume'], axis =1, inplace = True)
df_5.drop(['Dividends','Stock Splits','Volume'], axis =1, inplace = True)
df_6.drop(['Dividends','Stock Splits','Volume'], axis =1, inplace = True)

# 전고점 ,DD 컬럼 추가 - 코스피지수
- ks1_MDD : MDD 값
- ks1 : 컬럼이 추가된 데이터프레임

In [ ]:
df_ks11 = [df_1, df_2, df_3, df_4, df_5, df_6]

In [ ]:
def DD(data):
  data["전고점"] = data["Close"].cummax()
  data['DD'] = (1- data["Close"]/data['전고점']) * 100
  MDD = data['DD'].max()
  return MDD, data

In [ ]:
ks1_MDD, ks1 = DD(df_1)
ks2_MDD, ks2 = DD(df_2)
ks3_MDD, ks3 = DD(df_3)
ks4_MDD, ks4 = DD(df_4)
ks5_MDD, ks5 = DD(df_5)
ks6_MDD, ks6 = DD(df_6)

# 돈벌래 포트폴리오 MDD, 샤프지수 구하기

## 데이터 불러오기 -- 종목별

In [ ]:
name1617 = TOP16_17[['종목코드','회사명']]
name1718 = TOP17_18[['종목코드','회사명']]
name1819 = TOP18_19[['종목코드','회사명']]
name1920 = TOP19_20[['종목코드','회사명']]
name2021 = TOP20_21[['종목코드','회사명']]
name2122 = TOP21_22[['종목코드','회사명']]
name2223 = TOP22_23[['종목코드','회사명']]

In [ ]:
name1617.reset_index(drop= True , inplace = True)
name1718.reset_index(drop= True , inplace = True)
name1819.reset_index(drop= True , inplace = True)
name1920.reset_index(drop= True , inplace = True)
name2021.reset_index(drop= True , inplace = True)
name2122.reset_index(drop= True , inplace = True)
name2223.reset_index(drop= True , inplace = True)

In [ ]:
name1617['종목코드'] = name1617['종목코드'] + '.KS'
name1718['종목코드'] = name1718['종목코드'] + '.KS'
name1819['종목코드'] = name1819['종목코드'] + '.KS'
name1920['종목코드'] = name1920['종목코드'] + '.KS'
name2021['종목코드'] = name2021['종목코드'] + '.KS'
name2122['종목코드'] = name2122['종목코드'] + '.KS'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## 함수 정리

In [ ]:
def 수익률(data) : 
  data['sum'] = data.sum(axis = 'columns')
  data['sum_전날'] = data['sum'].shift(1)
  data['일별수익률'] = (data['sum'] - data['sum_전날'])/data['sum_전날']
  초기기준 = data['sum'][0]
  data['누적수익률'] = (data['sum'] - 초기기준)/초기기준
  return data

In [ ]:
def DD(data):
  data["전고점"] = data["sum"].cummax()
  data['DD'] = (1- data["sum"]/data['전고점']) * 100
  MDD = data['DD'].max()
  return MDD, data

## 2016~2017년도

In [ ]:
start = pd.DataFrame(yf.Ticker(name1617['종목코드'][0]).history(start='2016-04-01', end='2017-03-31')['Close'])
start.rename(columns = {'Close':name1617['종목코드'][0]}, inplace = True)

for i in range(1,20):

  plus = pd.DataFrame(yf.Ticker(name1617['종목코드'][i]).history(start='2016-04-01', end='2017-03-31')['Close'])
  plus.rename(columns = {'Close':name1617['종목코드'][i]}, inplace = True)

  a = pd.concat([start ,plus], axis=1)
  start = a

In [ ]:
df1 = 수익률(start)

In [ ]:
mdd1, df1 = DD(df1)

In [ ]:
# start = start.reset_index(drop=True)
# start.to_excel(excel_writer = 'start.xlsx')

## 2017~2018

In [ ]:
start = pd.DataFrame(yf.Ticker(name1718['종목코드'][0]).history(start='2017-04-03', end='2018-03-30')['Close'])
start.rename(columns = {'Close':name1718['종목코드'][0]}, inplace = True)

for i in range(1,20):

  plus = pd.DataFrame(yf.Ticker(name1718['종목코드'][i]).history(start='2017-04-03', end='2018-03-30')['Close'])
  plus.rename(columns = {'Close':name1718['종목코드'][i]}, inplace = True)

  a = pd.concat([start ,plus],axis=1)
  start = a

In [ ]:
df2 = 수익률(start)
mdd2, df2 = DD(df2)

##2018~2019

In [ ]:
start = pd.DataFrame(yf.Ticker(name1819['종목코드'][0]).history(start='2018-04-02', end='2019-03-29')['Close'])
start.rename(columns = {'Close':name1819['종목코드'][0]}, inplace = True)

for i in range(1,20):

  plus = pd.DataFrame(yf.Ticker(name1819['종목코드'][i]).history(start='2018-04-02', end='2019-03-29')['Close'])
  plus.rename(columns = {'Close':name1819['종목코드'][i]}, inplace = True)

  a = pd.concat([start ,plus],axis=1)
  start = a

In [ ]:
df3 = 수익률(start)
mdd3, df3 = DD(df3)

##2019~2020

In [ ]:
start = pd.DataFrame(yf.Ticker(name1920['종목코드'][0]).history(start='2019-04-01', end='2020-03-31')['Close'])
start.rename(columns = {'Close':name1920['종목코드'][0]}, inplace = True)

for i in range(1,20):

  plus = pd.DataFrame(yf.Ticker(name1920['종목코드'][i]).history(start='2019-04-01', end='2020-03-31')['Close'])
  plus.rename(columns = {'Close':name1920['종목코드'][i]}, inplace = True)

  a = pd.concat([start ,plus],axis=1)
  start = a

In [ ]:
df4 = 수익률(start)
mdd4, df4 = DD(df4)

##2020~2021

In [ ]:
start = pd.DataFrame(yf.Ticker(name2021['종목코드'][0]).history(start='2020-04-01', end='2021-03-31')['Close'])
start.rename(columns = {'Close':name2021['종목코드'][0]}, inplace = True)

for i in range(1,20):

  plus = pd.DataFrame(yf.Ticker(name2021['종목코드'][i]).history(start='2020-04-01', end='2021-03-31')['Close'])
  plus.rename(columns = {'Close':name2021['종목코드'][i]}, inplace = True)

  a = pd.concat([start ,plus],axis=1)
  start = a

In [ ]:
df5 = 수익률(start)
mdd5, df5 = DD(df5)

##2021~2022

In [ ]:
start = pd.DataFrame(yf.Ticker(name2122['종목코드'][0]).history(start='2021-04-01', end='2022-03-31')['Close'])
start.rename(columns = {'Close':name2122['종목코드'][0]}, inplace = True)

for i in range(1,20):

  plus = pd.DataFrame(yf.Ticker(name2122['종목코드'][i]).history(start='2021-04-01', end='2022-03-31')['Close'])
  plus.rename(columns = {'Close':name2122['종목코드'][i]}, inplace = True)

  a = pd.concat([start ,plus],axis=1)
  start = a

In [ ]:
df6 = 수익률(start)
mdd6, df6 = DD(df6)

## 투자금 2000 만원, 각 종목 당 100만원씩
-  round( 100만원 / 첫 날 종가 가격 , 2) * 마지막 날 종가 가격 의 합들을 구한 뒤 초기 투자금 2000만원에서 수익률을 구해야 함 !

In [ ]:
df1.loc[-1] = 1000000 / df1.head(1)

In [ ]:
count.drop(['sum','sum_전날','일별수익률','누적수익률','전고점','DD'], axis = 1, inplace = True)

In [ ]:
a = df1.tail(1)

In [ ]:
a.drop(['sum','sum_전날','일별수익률','누적수익률','전고점','DD'], axis = 1, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
count.dtypes

005490.KS    float64
003240.KS    float64
096770.KS    float64
003550.KS    float64
000240.KS    float64
010130.KS    float64
012330.KS    float64
005380.KS    float64
000670.KS    float64
005930.KS    float64
006400.KS    float64
001430.KS    float64
093050.KS    float64
009150.KS    float64
000660.KS    float64
002790.KS    float64
004000.KS    float64
020000.KS    float64
006260.KS    float64
033780.KS    float64
dtype: object

In [ ]:
a = a.values.tolist()

In [ ]:
count = count.values.tolist()

In [ ]:
product = [x*y for x,y in zip(a,count)]
print(product)

TypeError: ignored

,005490.KS,003240.KS,096770.KS,003550.KS,000240.KS,010130.KS,012330.KS,005380.KS,000670.KS,005930.KS,...,004000.KS,020000.KS,006260.KS,033780.KS,sum,sum_전날,일별수익률,누적수익률,전고점,DD
Date,,,,,,,,,,,,,,,,,,,,,
2016-04-01 00:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-03-30 00:00:00+09:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 각 지수들 list -> dataFrame 으로 변환

In [ ]:
mdd_list= [mdd1, mdd2, mdd3, mdd4, mdd5, mdd6]

In [ ]:
Apr_li = [0.01493, 0.01467, 0.01873, 0.01751, 0.00893, 0.00659, 0.02002] 
df_li = [df1, df2, df3, df4, df5, df6]
VOL_list = []
SHARP_list = []

for i in range(0,6):
  VOL = np.std(df_li[i]["일별수익률"]) * np.sqrt(len(df_li[i]))
  SHARP = np.mean(df_li[i]["누적수익률"][-1]) - Apr_li[i] / VOL


  VOL_list.append(VOL)
  SHARP_list.append(SHARP)

  print(VOL, SHARP)

In [ ]:
VOL_list

In [ ]:
SHARP_list

In [ ]:
mdd_list

In [ ]:
y_prof = [df1["누적수익률"][-1], df2["누적수익률"][-1], df3["누적수익률"][-1], df4["누적수익률"][-1], df5["누적수익률"][-1], df6["누적수익률"][-1] ]

In [ ]:
y_prof #연간수익률