In [1]:
import datetime

In [2]:
format = '%Y-%m-%d %H:%M:%S'
datetime_str= '2022-08-31 10:16:20'
print(datetime_str)

2022-08-31 10:16:20

In [3]:
date = datetime.datetime.strptime(datetime_str, format) #문자열을 시계열 데이터로 변경
print(date)
print(type(date))

2022-08-31 10:16:20
<class 'datetime.datetime'>

In [4]:
datetime.date.today()

datetime.date(2022, 8, 31)

In [5]:
date_str = date.strftime(format)
print(date_str)
print(type(date_str))

2022-08-31 10:16:20
<class 'str'>

## datetime format
- %y : 년도를 축약해서 표시 ("22")
- %Y : 년도 전체를 표시 ('2022')
- %b : 축약이 된 월 이름 ('Mar')
- %B : 월 이름 ('March')
- %m : 월을 숫자로 표시 ('08')
- %d : 일을 숫자로 표시 ('31')
- %h : 시을 24시를 기준으로 표시
- %I : 시를 12시를 기준으로 표시
- %M : 분을 표시
- %S : 초를 표시
- %a : 요일의 이름을 축약해서 표시
- %A : 요일의 이름을 표시
- %w : 요일을 숫자로 표시 (일:0, 월:1...토:6 )

In [6]:
# pandas에서 시계열 데이터 
import pandas as pd

In [7]:
#나노초를 기준으로 1970-01-01 00:00:00에서 나노초만큼 더한 날짜
pd.Timestamp(100000000)

Timestamp('1970-01-01 00:00:00.100000')

In [10]:
#unit='D' 기준을 일로 변경하는것 
pd.Timestamp(100000, unit = "D")

Timestamp('2243-10-17 00:00:00')

In [11]:
pd.Timestamp('2022-06')

Timestamp('2022-06-01 00:00:00')

In [12]:
pd.to_datetime('2022-01-01 12')

Timestamp('2022-01-01 12:00:00')

In [14]:
pd.to_datetime(['2022-01-01', '2022-08-31'])

DatetimeIndex(['2022-01-01', '2022-08-31'], dtype='datetime64[ns]', freq=None)

In [16]:
pd.date_range('2022-01-01', '2022-08-31')

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2022-08-22', '2022-08-23', '2022-08-24', '2022-08-25',
               '2022-08-26', '2022-08-27', '2022-08-28', '2022-08-29',
               '2022-08-30', '2022-08-31'],
              dtype='datetime64[ns]', length=243, freq='D')

In [17]:
pd.date_range('2022-01-01', '2022-08-31', freq='m') #월 기준으로 나누기

DatetimeIndex(['2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30',
               '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31'],
              dtype='datetime64[ns]', freq='M')

In [18]:
pd.Timedelta('1 days')

Timedelta('1 days 00:00:00')

In [19]:
pd.Timedelta('1 days 02:00:00')

Timedelta('1 days 02:00:00')

In [20]:
pd.Timestamp('2022-08-31') +  pd.Timedelta("1 days 03:00:00")

Timestamp('2022-09-01 03:00:00')

In [21]:
pd.Timedelta(days = 1, seconds = 30)

Timedelta('1 days 00:00:30')