uriage.csv
1. 파일로드
2. purchase_date 컬럼을 시계열데이터 변경
3. item_name컬럼의 값들을 다 대문자 변경 - 데이터.str.upper()
4. item_name컬럼값들의 공백 다 삭제 (좌우 띄어 쓰기 전부 삭제) (좌우 띄어쓰기 전부 삭제) - 데이터.replace("","")X --> apply()
5. item_name을 기준으로 오름차순 정렬
6. 인덱스 재지정
7. 결측치 값을 확인

In [1]:
import pandas as pd

In [3]:
uriage = pd.read_csv("../csv/uriage.csv")
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [18]:
#uriage['purchase_date'] = 
pd.to_datetime(uriage['purchase_date'])
uriage['purchase_date'] = pd.to_datetime(uriage['purchase_date'])

In [19]:
uriage['item_name'] = uriage['item_name'].astype('str')

In [20]:
uriage['item_name'] = uriage['item_name'].str.upper()

In [23]:

#case 1 : lambda
uriage['item_name'] = uriage['item_name'].apply(lambda x: x.replace(" ",""))


#case 2 : 일반함수
#def change(x):
#    return x.replace(" ", "")
#urage["item_name"] = uriage["item_name"].apply(change)

#case 3 
#uriage['item_name'] = uriage['item_name'].str.replace(" ","")

In [24]:
uriage.sort_values("item_name")
#uriage.sort_values("item_name", ascending = True, inplace = True)

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1748 2019-05-19 20:22:00       상품A       100.0           김시훈
223  2019-06-25 08:13:00       상품A       100.0           김유진
1742 2019-06-13 16:03:00       상품A       100.0           김건희
1738 2019-02-10 00:28:00       상품A       100.0           김하랑
...                  ...       ...         ...           ...
2880 2019-04-22 00:36:00       상품Y         NaN           김동욱
2881 2019-04-30 14:21:00       상품Y         NaN           김하준
1525 2019-01-24 10:27:00       상품Y      2500.0           김범준
1361 2019-05-28 13:45:00       상품Y      2500.0           김수현
3    2019-02-12 23:40:00       상품Z      2600.0           김재현

[2999 rows x 4 columns]

In [29]:
uriage.reset_index(drop = True, inplace=True)

In [30]:
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [32]:
#결측치의 값에 해당하는 item_name들의 item_price의 값으로 치환
fig_null = uriage["item_price"].isna()
fig_null

0       False
1        True
2        True
3       False
4        True
        ...
2994    False
2995    False
2996     True
2997     True
2998    False
Name: item_price, Length: 2999, dtype: bool

In [34]:
#결측치 있는 애들만
uriage.loc[fig_null]

           purchase_date item_name  item_price customer_name
1    2019-07-13 13:05:00       상품S         NaN           김우찬
2    2019-05-11 19:42:00       상품A         NaN           김유찬
4    2019-04-22 03:09:00       상품A         NaN           김강현
6    2019-05-18 19:16:00       상품A         NaN           김재준
14   2019-06-11 12:57:00       상품A         NaN           김재호
...                  ...       ...         ...           ...
2987 2019-01-04 13:05:00       상품K         NaN           김정훈
2990 2019-07-16 11:34:00       상품O         NaN           김서준
2992 2019-07-27 10:13:00       상품C         NaN           김동하
2996 2019-03-29 11:14:00       상품Q         NaN           김지율
2997 2019-07-14 12:56:00       상품H         NaN           김승주

[387 rows x 4 columns]

In [41]:
#unique 함수
name_list = uriage.loc[fig_null, 'item_name'].unique()
name_list

array(['상품S', '상품A', '상품P', '상품N', '상품W', '상품R', '상품I', '상품L', '상품F',
       '상품O', '상품B', '상품C', '상품V', '상품Q', '상품U', '상품K', '상품T', '상품X',
       '상품E', '상품M', '상품G', '상품J', '상품D', '상품H', '상품Y'], dtype=object)

In [36]:
## '~' 연산자 -> 부정
## ~False = True, ~True = False
uriage.loc[(~fig_null) & (uriage["item_name"] == '상품A'), "item_price"].mean()

100.0

In [39]:
for name in list(name_list) :
    price = uriage.loc[(~fig_null) & (uriage["item_name"] == name), "item_price"].mean()

    uriage["item_price"].loc[(fig_null) & (uriage["item_name"] ==name)] = price

/var/folders/h1/6sllxx6j0zb6l_hvj_9ys3qh0000gn/T/ipykernel_7169/3281554148.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  uriage["item_price"].loc[(fig_null) & (uriage["item_name"] ==name)] = price

In [40]:
uriage

           purchase_date item_name  item_price customer_name
0    2019-06-13 18:02:00       상품A       100.0           김가온
1    2019-07-13 13:05:00       상품S      1900.0           김우찬
2    2019-05-11 19:42:00       상품A       100.0           김유찬
3    2019-02-12 23:40:00       상품Z      2600.0           김재현
4    2019-04-22 03:09:00       상품A       100.0           김강현
...                  ...       ...         ...           ...
2994 2019-02-15 02:56:00       상품Y      2500.0           김정민
2995 2019-06-22 04:03:00       상품M      1300.0           김재원
2996 2019-03-29 11:14:00       상품Q      1700.0           김지율
2997 2019-07-14 12:56:00       상품H       800.0           김승주
2998 2019-07-21 00:31:00       상품D       400.0           정준기

[2999 rows x 4 columns]