In [200]:
a = 15

if a <10:
    print ("a는 10보다 크다")

else :
    print ("a 는 10보다 작다")

a 는 10보다 작다

In [201]:
for i in range(0,5,1):
    print ("%d번째 반복문입니다." %i)

0번째 반복문입니다.
1번째 반복문입니다.
2번째 반복문입니다.
3번째 반복문입니다.
4번째 반복문입니다.

In [202]:
for i in range (2,10,1):
    for j in range (1,10,1):
        print ("%d X %d = %d" %(i,j,i*j))

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [203]:
sum = 0 
i = 1

while i<11:
    sum += i
    i += 1

print ("1에서 10까지의 합은 %d" %sum)

1에서 10까지의 합은 55

In [204]:
ㅁ = 10

In [205]:
a = 10
print(a)

10

In [206]:
a = 10
b = "Hello World"
print(a)
print(b)
print(type(a))
print(type(b))

10
Hello World
<class 'int'>
<class 'str'>

In [207]:
## 연산자
## + - * / //  %  **
x = 5
y = 3
print(x+y, x-y, x*y, x/y, x//y, x%y, x**y)

8 2 15 1.6666666666666667 1 2 125

In [208]:
## 대입 연산자
x += 1
print (x)

6

In [209]:
##비교연산자--> bool 의 형태의 데이터를 출력 (true or false)
a = 5
b = 3
print (a == b, a != b, a>b, a<b, a>=b, a<=b)

False True True False True False

In [210]:
## and, or, not
## and  두 조건이 모두 참인 경우 참
## or 두 조건중 하나만 참이면 참
## not 반대로 출력

a = 10
print((a>5) and (a<15)) #참
print((a>5) and (a>15)) #거짓

True
False

In [211]:
print((a>5) or (a<15)) #참
print((a>5) or (a>15)) #거짓

True
True

In [212]:
not(True)
not(False)

True

In [213]:
a = 10
if a<10:
    print ("a는 10보다 작다.")
else :
    print ("a는 10보다 크다")

a는 10보다 크다

In [166]:
score = int(input ("점수를 입력해주세요 : "))

if score >=90:
    print ("A")
elif score >=80:
    print ("B")
elif score >=70:
    print ("c")
else :
    print("F")

F

In [167]:
##for 변수명 in range (시작값, 종료값, 증가값):

for i in range (0,5,1):
    print(i)

0
1
2
3
4

In [168]:
for i in range (10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [169]:
#1. for문을 이용해서 1부터 10까지의 합계를 출력하시오
#2. 1부터 50까지의 짝수의 합계를 구하는 식
#3. 주사위 2개를 굴려서 합이 10이 되는 경우의 수를 출력하시오

In [170]:
#1. for문을 이용해서 1부터 10까지의 합계를 출력하시오
sum = 0

for i in range (1, 11, 1):
    sum += i
print(sum)

55

In [171]:
#2. 1부터 50까지의 짝수의 합계를 구하는 식
sum = 0

for i in range (1,51,1):
    if i % 2 == 0:   ##짝수인경우
        sum += i

print(sum)

650

In [172]:
#3. 주사위 2개를 굴려서 합이 10이 되는 경우의 수를 출력하시오

for i in range (1,7,1):
    for j in range(1,7,1):
        if i + j ==10:
            print(i,j)

4 6
5 5
6 4

In [173]:
##while문 초기값 미리 지정, while 조건식

i = 0

while i <10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [174]:
#break : 반복문을 종료
for i in range (0,100,1):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

In [175]:
for i in range (0,100,1):
    print(i)
    if i ==7 :
        break

0
1
2
3
4
5
6
7

In [176]:
## 1부터 100까지 합을 구하는데 합계가 900이 넘어가는 최초의 숫자는 무엇인가
sum=0

for i in range (0,1000,1):
    sum += i
    if sum >900:
           break
print (i)
print (sum)

42
903

In [177]:
sum = 0
i = 1

while i <= 1000:
    sum += i
    if sum >=900:
        print(i)
        break

    i += 1

42

In [178]:
#tuple 데이터 형태
a = (20, "test")
b = (3,3.14)
c = a+b
d = a * 3

print(a,b,c,d)

(20, 'test') (3, 3.14) (20, 'test', 3, 3.14) (20, 'test', 20, 'test', 20, 'test')

In [179]:
#20 이라는 숫자 출력하려면
print(a[0])

20

In [180]:
#리스트 데이터형
a = [20,10,50,5]
b = [10,20,30,40]

In [181]:
#sort
a.sort()
a

[5, 10, 20, 50]

In [182]:
#reverse 
b.reverse()
b

[40, 30, 20, 10]

In [183]:
#1부터 70까지 3의 배수를 리스트로 만들어보아라

a = []

for i in range (1,71,1):
    if i % 3 == 0:
        a.append(i)
print (a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [184]:
#딕셔너리 데이터형
#{key: value, key2 : value2}
dict = {"name" : "test", "age":20, "phone":"01012345678"}

In [185]:
print(dict["name"])

test

In [186]:
dict["area"] = "Seoul"

In [187]:
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [188]:
#데이터의 형태는 보통 리스트 안에 딕셔너리로 [ {}, {}, {}, {}]
test_data = [
    {"name" : "test",
    "age": 20},
    {"name" : "test2",
    "age": 25},
    {"name" : "test3",
    "age": 15}
]

In [189]:
print(test_data)

[{'name': 'test', 'age': 20}, {'name': 'test2', 'age': 25}, {'name': 'test3', 'age': 15}]

In [190]:
print(test_data[0])
print(test_data[0]["name"])

{'name': 'test', 'age': 20}
test

In [191]:
# 대소문자 변환
# upper(), lower(), title()
a = "Hellow world"
print(a.upper())
print(a.lower())
print(a.title())

HELLOW WORLD
hellow world
Hellow World

In [192]:
#공백 제거 함수
#strip()
#replace()

a = "    hello world    "
print (a)
a

    hello world

'    hello world    '

In [193]:
a.lstrip()

'hello world    '

In [194]:
a.rstrip()

'    hello world'

In [195]:
a.strip()

'hello world'

In [196]:
a.replace("hello", "hi")

'    hi world    '

In [197]:
a.replace(" ","")

'helloworld'

In [198]:
#split() 기준이 되는 문자열이나 , . / 특수문자열을 기준으로 문자열을 나눠주는 역할
a = "a,b,c,d,e"
print(a)

a,b,c,d,e

In [199]:
#리스트로 만듬
a.split(",")

['a', 'b', 'c', 'd', 'e']

In [214]:
#함수 --> 
#def 함수명 (매개벼수):

def func_1():
    print("Hello World")

func_1()

Hello World

In [216]:
# 함수 안에 있는 result 라는 변수 --> 지역변수
# 함수 밖에 있는 x라는 변수 --> 전역 변수
x=3

def func_2(a):
    result = a*x
    return result

print(x)
print(func_2(5))

3
15

In [217]:
def func_3(a,b,c,):
    result = a+b+c
    return result

print(func_3(1,2,3))

6

In [218]:
def func_4(a,b,c = 5):
    result = a + b - c
    return result
print(func_4(5,2))

2

In [221]:
def func_1(a,b=2,c=3,d=4):
    print(a,b,c,d,)

func_1(1)

1 2 3 4

In [225]:
#인자의 같은 매개변수의 순서대로 대입 된다
func_1(1,4)

1 4 3 4

In [223]:
#매개변수 b의 값은 기본값을 사용을 하고 매개변수 c 의 값을 변경을 하는 경우
func_1(1,c=10)

1 2 10 4

In [236]:
##1. 함수를 하나 생성 매개변수 2개 (a,b)
##2. 함수가 하는 행동은 (a부터 b까지의 합을 리턴) (for/ while)
##3. a보다 b가 작은 경우에는 b부터 a까지의 합을 리턴하고 반대인 경우 a에서 b까지의 합을 구해서 리턴하는 함수 (for, while, 조건문 )

def func_0(a,b):
    
    sum = 0
    for i in range (a,b+1,1):
        sum += i
    return sum

print(func_0(1,10))

55

In [240]:
def func_3(a,b):
    sum = 0
    while a <= b:
        sum += a
        a += 1
    return sum

print (func_3(1,10))

55

In [244]:
## a 와 b의 값을 비교해서 합계 리턴
def func_5(a,b):
    sum = 0
    if a > b : 
        for i in range (b, a+1,1):
            sum += i
    else : 
        for i in range (a, b+1,1):
            sum += i
    return sum

print(func_5(10,1))
print(func_5(1,10))

55
55

In [245]:
def func_5(a,b):
    sum = 0
    for i in range (min(a,b), max(a,b)+1, 1):
        sum += i
    return sum

print (func_5(10,1))
print (func_5(1,10))

55
55

1. 함수 생성 (매개변수 3개 a,b,c,)
2. c 의 값이 "합" 이면 a+b
3. c 의 값이 "차" 이면 a-b
4. c 의 값이 "곱" 이면 a*b
5. c 의 값이 위 3개가 아니면 "연산식이 잘못되었습니다" 리턴

In [251]:
def calc(a,b,c):
    if c == "합":
        return a+b
    elif c == "차":
        return a-b
    elif c == "곱":
        return a*b
    else :
        return "연산식이 잘못되었습니다."

print(calc(2,10,"합"))
print(calc(2,10,"차"))
print(calc(2,10,"곱"))
print(calc(2,10,"나누기"))

12
-8
20
연산식이 잘못되었습니다.

In [252]:
#map 함수
def func_7(a):
    result = a **2
    return result

print(func_7(5))

25

In [254]:
a = list(map(func_7, (1,2,3,4)))
print(a)

[1, 4, 9, 16]

In [256]:
# lamda 함수 , 선언함과 동시에 호출

lamb = lambda x : x**2
print(lamb(4))

16